<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <div class="main">
        <div class="box vignette"></div>
        <nav>
            <span>
                <img width="100" src="assets/image/logo.svg" alt="Logo" />
            </span>
            <div class="nav-button">
                <button class="btn btn-en">
                    <img class="langSvg" src="assets/image/lang.svg" alt="dropdown" />
                    English
                    <img class="dropdownSvg" src="assets/image/dropdown.svg" alt="dropdown" />
                </button>
                <button class="btn btn-red-sn">Sign In</button>
            </div>
        </nav>

        <div class="heading-netflix">
            <span>Unlimited movies, TV shows and more</span>
            <span> Watch anywhere. Cancel anytime.</span>
            <span>Ready to watch? Enter your email to create or restart your
                membership.</span>

            <div class="input-email">
                <input type="text" placeholder="Email adress" />
                <button class="btn btn-red">Get Started ></button>
            </div>
        </div>

        <div class="seperation"></div>
    </div>

    <!-- first section -->
    <section class="first">
        <div class="first-sec-heading">
            <div>Enjoy on your TV</div>
            <div>
                Watch on smart TVs, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray
                players and more.
            </div>
        </div>
        <div class="first-sec-img">
            <img src="assets/image/tv.png" alt="preview" />
            <video src="/assets/videos/video-tv-in-0819.m4v" autoplay loop muted></video>
        </div>
    </section>
    <div class="seperation"></div>

    <!-- 2nd section -->
    <section class="section-2nd first ">
        <div class="first-sec-img">
            <img src="assets/image/mb.jpg" alt="preview" />
        </div>
        <div class="first-sec-heading">
            <div>Download your shows to watch offline</div>
            <div>
                Save your favourites easily and always have something to watch.
            </div>
        </div>
    </section>
    <div class="seperation"></div>

    <!-- 3rd section -->
    <section class="first third">
        <div class="first-sec-heading third-sec-heading">
            <div>Watch everywhere
            </div>
            <div>
                Stream unlimited movies and TV shows on your phone, tablet, laptop, and TV.
            </div>
        </div>
        <div class="first-sec-img third-sec-img">
            <img src="assets/image/rajma-chaval.png" alt="preview" />
            <video src="/assets/videos/video-devices-in.m4v" autoplay loop muted></video>
        </div>
    </section>
    <div class="seperation"></div>

    <!-- 4rd section -->
    <section class="first section-4th">
        <div class="first-sec-img">
            <img src="assets/image/children.png" alt="preview" />
        </div>
        <div class="first-sec-heading">
            <div>Create profiles for kids</div>
            <div>
                Send children on adventures with their favourite characters in a space made just for them—free with your
                membership.
            </div>
        </div>
    </section>
    <div class="seperation"></div>

    <section class="faq">
        <h2>Frequently Asked Questions</h2>


        <!-- que1 -->
        <div class="faq-box">
            <span>
                What is Netflix?
            </span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30" color="#ffffff"
                fill="none">
                <path d="M12 4V20" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                <path d="M4 12H20" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />

            </svg>
        </div>


        <!-- que2 -->
        <div class="faq-box">
            <span>
                How much does Netflix cost?
            </span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30" color="#ffffff"
                fill="none">
                <path d="M12 4V20" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                <path d="M4 12H20" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />

            </svg>
        </div>


        <!-- que3 -->
        <div class="faq-box">
            <span>
                Where can I watch?
            </span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30" color="#ffffff"
                fill="none">
                <path d="M12 4V20" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                <path d="M4 12H20" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />

            </svg>
        </div>


        <!-- que4 -->
        <div class="faq-box">
            <span>
                How do I cancel?
            </span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30" color="#ffffff"
                fill="none">
                <path d="M12 4V20" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                <path d="M4 12H20" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />

            </svg>
        </div>

        <!-- que5 -->
        <div class="faq-box">
            <span>
                What can I watch on Netflix?
            </span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30" color="#ffffff"
                fill="none">
                <path d="M12 4V20" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                <path d="M4 12H20" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />

            </svg>
        </div>


        <!-- que6 -->
        <div class="faq-box">
            <span>
                Is Netflix good for kids?
            </span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30" color="#ffffff"
                fill="none">
                <path d="M12 4V20" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                <path d="M4 12H20" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />

            </svg>
        </div>




        <!-- que7 -->
        <div class="faq-box">
            <span>
                What is Netflix?
            </span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30" color="#ffffff"
                fill="none">
                <path d="M12 4V20" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                <path d="M4 12H20" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />

            </svg>
        </div>

        <div class="before-email-head">
            Ready to watch? Enter your email to create or restart your membership.
        </div>

        <div class="heading-netflix">
            <div class="input-email">
                <input type="text" placeholder="Email adress" />
                <button class="btn btn-red">Get Started ></button>
            </div>
        </div>
    </section>
    <div class="seperation before-footer"></div>

    <footer>
        <div class="quetions">
            Questions? Call <a href="">000-800-919-1694</a>
        </div>

        <div class="footer">

            <div class="footer-items">
                <a href="">FAQ</a>
                <a href="">Investor Relations</a>
                <a href="">Privacy</a>
                <a href="">Speed Test</a>
                <button class="btn btn-en btn-footer">
                    <img class="langSvg" src="assets/image/lang.svg" alt="dropdown" />
                    English
                    <img class="dropdownSvg" src="assets/image/dropdown.svg" alt="dropdown" />
                </button>
                <a style="text-decoration: none;" href="">Netflix India</a>

            </div>

            <div class="footer-items">
                <a href=" ">Help Centre </a>
                <a href=" ">Jobs </a>
                <a href=" "> Cookie Preferences</a>
                <a href=" ">Legal Notices </a>
                
            
            </div>
            <div class="footer-items">
                <a href=" ">Account </a>
                <a href=" "> Ways to Watch</a>
                <a href=" "> Corporate Information</a>
                <a href=" "> Only on Netflix</a>
                
            
            </div>
            <div class="footer-items">
                <a href=" ">Media Centre </a>
                <a href=" "> Terms of Use</a>
                <a href=" ">Contact Us </a>
                
                
            
            </div>


        </div>


    </footer>

</body>

</html>